include: variables.yml

before_script:
  - |
    docker info
    # try fix permissions for kubeconfig
    chmod go-rwx $KUBECONFIG || true
    export INFRA_VERSION=${CI_COMMIT_TAG:-${CI_COMMIT_SHORT_SHA}}

    if [[ -z ${CI_COMMIT_TAG} ]]; then
      export INFRA_NAMESPACE=infra-dev
    else
      export INFRA_NAMESPACE=infra
    fi

    export HOST_DOCKER_GID=$(stat -t /var/run/docker.sock | awk '{ print $6 }')

    echo "Infra: ${INFRA_VERSION}"
    [[ -f gitlab/env.sh ]] && source gitlab/env.sh


ingress-default-backend:
  interruptible: true
  retry: 2
  script:
    - |
      git clone --depth 1 https://readonly:${INFRA_READONLY_TOKEN}@git.nrtn.dev/infra/ingress-default-backend.git
      cd ingress-default-backend

      docker buildx build --builder=mybuilder --platform linux/amd64,linux/arm64 --push \
        -t ${DOCKER_HUB}/${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION} .

      if [[ ! -z "${CI_COMMIT_TAG:-}" ]]; then
        archive_image ${DOCKER_HUB}/${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
      fi

infra-docs:
  interruptible: true
  retry: 2
  script:
    - |
      git clone https://readonly:${INFRA_READONLY_TOKEN}@git.nrtn.dev/infra/infra-docs.git

      ( cd infra-docs && git archive --format=tar HEAD ) | ( cd docker/infra-docs/docs && tar xf - )

      ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}

infra-charts:
  interruptible: true
  retry: 2
  script:
    - |
      ./import-charts.sh import-charts.yml docker/infra-charts/charts

      ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}

      if [[ ! -z "${CI_COMMIT_TAG:-}" ]]; then
          archive_folder docker/infra-charts/charts charts ${INFRA_VERSION}
      fi

builder:
  interruptible: true
  script:
    - |
      ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION} \
        --build-arg HOST_DOCKER_GID

