include: variables.yml

before_script:
  - |
    docker info
    # try fix permissions for kubeconfig
    chmod go-rwx $KUBECONFIG || true
    export INFRA_VERSION=${CI_COMMIT_TAG:-${CI_COMMIT_SHORT_SHA}}

    if [[ -z ${CI_COMMIT_TAG} ]]; then
      export INFRA_NAMESPACE=infra-dev
    else
      export INFRA_NAMESPACE=infra
    fi

    export HOST_DOCKER_GID=$(stat -t /var/run/docker.sock | awk '{ print $6 }')

    echo "Infra: ${INFRA_VERSION}"
    [[ -f gitlab/env.sh ]] && source gitlab/env.sh


# infra-charts:
#   interruptible: true
#   retry: 2
#   script:
#     - |
#       ./import-charts.sh import-charts.yml docker/infra-charts/charts

#       ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}

#       if [[ ! -z "${CI_COMMIT_TAG:-}" ]]; then
#           archive_folder docker/infra-charts/charts charts ${INFRA_VERSION}
#       fi

# builder:
#   interruptible: true
#   script:
#     - |
#       ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION} \
#         --build-arg HOST_DOCKER_GID

