include: variables.yml

stages:
  - build
  - build2

before_script:
  - |
    docker info
    # try fix permissions for kubeconfig
    chmod go-rwx $KUBECONFIG || true
    export INFRA_VERSION=${CI_COMMIT_TAG:-${CI_COMMIT_SHORT_SHA}}

    if [[ -z ${CI_COMMIT_TAG} ]]; then
      export INFRA_NAMESPACE=infra-dev
    else
      export INFRA_NAMESPACE=infra
    fi

    export HOST_DOCKER_GID=$(stat -t /var/run/docker.sock | awk '{ print $6 }')

    echo "Infra: ${INFRA_VERSION}"
    [[ -f gitlab/env.sh ]] && source gitlab/env.sh


ingress-default-backend:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      git clone --depth 1 https://readonly:${INFRA_READONLY_TOKEN}@git.nrtn.dev/infra/ingress-default-backend.git
      cd ingress-default-backend

      docker buildx build --builder=mybuilder --platform linux/amd64,linux/arm64 --push \
        -t ${DOCKER_HUB}/${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION} .

      if [[ ! -z "${CI_COMMIT_TAG:-}" ]]; then
        archive_image ${DOCKER_HUB}/${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
      fi

nvidia-cuda:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/cuda
    IMAGE_VERSION: ${NVIDIA_CUDA_VERSION}

nvidia-dcgm:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/cloud-native/dcgm
    IMAGE_VERSION: ${NVIDIA_DCGM_VERSION}

nvidia-dcgm-exporter:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/k8s/dcgm-exporter
    IMAGE_VERSION: ${NVIDIA_DCGM_EXPORTER_VERSION}

nvidia-gpu-feature-discovery:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/gpu-feature-discovery
    IMAGE_VERSION: ${NVIDIA_GPU_FEATURE_DISCOVERY_VERSION}

nvidia-gpu-operator:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/gpu-operator
    IMAGE_VERSION: ${NVIDIA_GPU_OPERATOR_VERSION}

nvidia-gpu-operator-validator:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/cloud-native/gpu-operator-validator
    IMAGE_VERSION: ${NVIDIA_GPU_OPERATOR_VALIDATOR_VERSION}

nvidia-k8s-container-toolkit:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/k8s/container-toolkit
    IMAGE_VERSION: ${NVIDIA_K8S_CONTAINER_TOOLKIT_VERSION}

nvidia-k8s-device-plugin:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/k8s-device-plugin
    IMAGE_VERSION: ${NVIDIA_K8S_DEVICE_PLUGIN_VERSION}

nvidia-k8s-driver-manager:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/cloud-native/k8s-driver-manager
    IMAGE_VERSION: ${NVIDIA_K8S_DRIVER_MANAGER_VERSION}

nvidia-k8s-mig-manager:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: nvidia/cloud-native/k8s-mig-manager
    IMAGE_VERSION: ${NVIDIA_K8S_MIG_MANAGER_VERSION}

forgejo-actions-ubuntu-act:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: catthehacker/ubuntu
    IMAGE_VERSION: act-24.04

forgejo-actions-ubuntu-runner:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: catthehacker/ubuntu
    IMAGE_VERSION: runner-24.04

confluent-operator:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: confluentinc/confluent-operator
    IMAGE_VERSION: ${CONFLUENTINC_OPERATOR_VERSION}

confluent-init-container:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: confluentinc/confluent-init-container
    IMAGE_VERSION: ${CONFLUENTINC_INIT_CONTAINER_VERSION}

confluent-enterprise-control-center:
  interruptible: true
  retry: 2
  stage: build
  script:
    - |
      ./gitlab/build-image.sh generic ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}
  variables:
    IMAGE_BASE: confluentinc/cp-enterprise-control-center-next-gen
    IMAGE_VERSION: ${CONFLUENTINC_ENTERPRISE_CONTROL_CENTER_VERSION}

confluent-platform:
  interruptible: true
  retry: 2
  stage: build
  parallel:
    matrix:
      - CONFLUENTINC_CP_COMPONENT:
          - enterprise-replicator
          - kafka-rest
          - ksqldb-server
          # - ksqldb-cli
          - schema-registry
          - server
          - server-connect
        DUMMY:
          - dummy
  script:
    - |
      ./gitlab/build-image.sh confluent-platform ${INFRA_NAMESPACE}/confluentinc-cp-${CONFLUENTINC_CP_COMPONENT}:${INFRA_VERSION} \
        --build-arg CONFLUENTINC_CP_VERSION \
        --build-arg CONFLUENTINC_CP_COMPONENT

infra-docs:
  interruptible: true
  retry: 2
  stage: build2
  script:
    - |
      git clone https://readonly:${INFRA_READONLY_TOKEN}@git.nrtn.dev/infra/infra-docs.git

      ( cd infra-docs && git archive --format=tar HEAD ) | ( cd docker/infra-docs/docs && tar xf - )

      ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}

infra-charts:
  interruptible: true
  retry: 2
  stage: build2
  script:
    - |
      ./import-charts.sh import-charts.yml docker/infra-charts/charts

      ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION}

      if [[ ! -z "${CI_COMMIT_TAG:-}" ]]; then
          archive_folder docker/infra-charts/charts charts ${INFRA_VERSION}
      fi

builder:
  interruptible: true
  stage: build2
  script:
    - |
      ./gitlab/build-image.sh ${CI_JOB_NAME} ${INFRA_NAMESPACE}/${CI_JOB_NAME}:${INFRA_VERSION} \
        --build-arg HOST_DOCKER_GID

