services:
  tools:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/tools:${INFRA_VERSION}
    build:
      context: docker/base/tools
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        INFRA_VERSION: ${INFRA_VERSION}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  debian:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/debian:${INFRA_VERSION}
    build:
      context: docker/base/debian
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  ubuntu24:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/ubuntu24:${INFRA_VERSION}
    build:
      context: docker/base/ubuntu24
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        UBUNTU_NOBLE_VERSION: ${UBUNTU_NOBLE_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  alpine:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/alpine:${INFRA_VERSION}
    build:
      context: docker/base/alpine
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        ALPINE_VERSION: ${ALPINE_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  busybox:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/busybox:${INFRA_VERSION}
    build:
      context: docker/base/busybox
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        ALPINE_VERSION: ${ALPINE_VERSION}
        BUSYBOX_VERSION: ${BUSYBOX_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"
