services:
  tools:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/tools:${INFRA_VERSION}
    build:
      context: docker/tools
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        INFRA_VERSION: ${INFRA_VERSION}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  debian:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/debian:${INFRA_VERSION}
    build:
      context: docker/debian
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  ubuntu24:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/ubuntu24:${INFRA_VERSION}
    build:
      context: docker/ubuntu24
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        UBUNTU_NOBLE_VERSION: ${UBUNTU_NOBLE_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  alpine:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/alpine:${INFRA_VERSION}
    build:
      context: docker/alpine
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        ALPINE_VERSION: ${ALPINE_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  noroutine-buoy:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/noroutine-buoy:${INFRA_VERSION}
    build:
      context: docker/noroutine-buoy
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        ALPINE_VERSION: ${ALPINE_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  busybox:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/busybox:${INFRA_VERSION}
    build:
      context: docker/busybox
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        ALPINE_VERSION: ${ALPINE_VERSION}
        BUSYBOX_VERSION: ${BUSYBOX_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  jdk-zulu:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/jdk-zulu:${INFRA_VERSION}
    build:
      context: docker/jdk-zulu
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        JDK_ZULU_VERSION: ${JDK_ZULU_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  jdk-temurin:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/jdk-temurin:${INFRA_VERSION}
    build:
      context: docker/jdk-temurin
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        JDK_TEMURIN_VERSION: ${JDK_TEMURIN_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  golang:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/golang:${INFRA_VERSION}
    build:
      context: docker/golang
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        GOLANG_VERSION: ${GOLANG_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  python:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/python:${INFRA_VERSION}
    build:
      context: docker/python
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_VERSION: ${INFRA_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        PYTHON_VERSION: ${PYTHON_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  python-slim:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/python-slim:${INFRA_VERSION}
    build:
      context: docker/python
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        INFRA_VERSION: ${INFRA_VERSION}
        PYTHON_VERSION: ${PYTHON_SLIM_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"

  node:
    image: ${IMAGE_REGISTRY}/${INFRA_NAMESPACE}/node:${INFRA_VERSION}
    build:
      context: docker/generic
      platforms:
        - linux/amd64
        - linux/arm64
      args:
        IMAGE_REGISTRY: ${IMAGE_REGISTRY}
        IMAGE_BASE: library/node
        IMAGE_VERSION: ${NODE_VERSION}
        INFRA_NAMESPACE: ${INFRA_NAMESPACE}
        INFRA_VERSION: ${INFRA_VERSION}
      labels:
        - "org.opencontainers.image.version=${INFRA_VERSION}"
        - "org.opencontainers.image.source=https://nrtn.dev/infra/infra-setup"
        - "org.opencontainers.image.authors=Noroutine GmbH <info@noroutine.com>"
